Repository Fiu-Fit/Back: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:prettier, yarn lint:eslint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn lint:prettier", "yarn lint:eslint"],
  "*.{js,json,html}": ["yarn lint:prettier"]
}

Initial commit
  app/users-service/prisma/migrations/20230606122206_add_device_token_field/migration.sql
  app/users-service/prisma/schema.prisma
  app/users-service/src/modules/user/user.controller.ts
  app/users-service/src/modules/user/user.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Add common
  app/api-gateway/package.json
  app/api-gateway/yarn.lock
  app/progress-service/package.json
  app/users-service/package.json
  app/workout-service/package.json
  package.json
  packages/common/.gitignore
  packages/common/.npmignore
  packages/common/README.md
  packages/common/package.json
  packages/common/tsconfig.build.json
  packages/common/tsconfig.json
  yarn.lock
Due: yarn lint:prettier

Added src dir
  .gitignore
  packages/common/src/constants/constants.ts
  packages/common/src/constants/index.ts
  packages/common/src/index.ts
  packages/common/src/interfaces/category.ts
  packages/common/src/interfaces/exercise.ts
  packages/common/src/interfaces/goals.ts
  packages/common/src/interfaces/index.ts
  packages/common/src/interfaces/interfaces.ts
  packages/common/src/interfaces/notification-type.ts
  packages/common/src/interfaces/service.ts
  packages/common/src/interfaces/unit.ts
  packages/common/src/interfaces/user.ts
  packages/common/src/interfaces/workout.ts
  packages/common/src/interfaces/workoutExercise.ts
  packages/common/src/protos/auth.proto
  packages/common/src/protos/exercise.proto
  packages/common/src/protos/user.proto
  packages/common/src/protos/workout.proto
  packages/common/src/utils/index.ts
  packages/common/src/utils/logger-utility.ts
Due: yarn lint:prettier, yarn lint:eslint

Remove old common from yarn lock
  app/api-gateway/yarn.lock
Due: none

Remove lockfiles
  app/api-gateway/yarn.lock
  app/progress-service/yarn.lock
  app/workout-service/yarn.lock
Due: none

Build script per repo
  package.json
Due: yarn lint:prettier

Force build
  package.json
Due: yarn lint:prettier

Update readme
  .github/workflows/main.yml
  README.md
Due: none

Send push notification when complete goal
  app/progress-service/package.json
  app/progress-service/src/firebase/firebase.ts
  app/progress-service/src/modules/goals/goal.service.ts
  app/progress-service/yarn.lock
  app/users-service/package.json
  app/users-service/src/modules/user/user.service.ts
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

Fix Service URL & API Keys
  app/api-gateway/src/shared/service-config.ts
Due: yarn lint:prettier, yarn lint:eslint

Fix/add common (#5)
  .github/workflows/main.yml
  .gitignore
  README.md
  app/api-gateway/package.json
  app/api-gateway/yarn.lock
  app/progress-service/package.json
  app/progress-service/yarn.lock
  app/users-service/package.json
  app/workout-service/package.json
  app/workout-service/yarn.lock
  package.json
  packages/common/.gitignore
  packages/common/.npmignore
  packages/common/README.md
  packages/common/package.json
  packages/common/src/constants/constants.ts
  packages/common/src/constants/index.ts
  packages/common/src/index.ts
  packages/common/src/interfaces/category.ts
  packages/common/src/interfaces/exercise.ts
  packages/common/src/interfaces/goals.ts
  packages/common/src/interfaces/index.ts
  packages/common/src/interfaces/interfaces.ts
  packages/common/src/interfaces/notification-type.ts
  packages/common/src/interfaces/service.ts
  packages/common/src/interfaces/unit.ts
  packages/common/src/interfaces/user.ts
  packages/common/src/interfaces/workout.ts
  packages/common/src/interfaces/workoutExercise.ts
  packages/common/src/protos/auth.proto
  packages/common/src/protos/exercise.proto
  packages/common/src/protos/user.proto
  packages/common/src/protos/workout.proto
  packages/common/src/utils/index.ts
  packages/common/src/utils/logger-utility.ts
  packages/common/tsconfig.build.json
  packages/common/tsconfig.json
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

Update yarn.lock
  yarn.lock
Due: none

Merge
  app/api-gateway/src/modules/notifications/notification.module.ts
  app/api-gateway/src/shared/service-config.ts
  app/api-gateway/yarn.lock
  app/service-registry/package.json
  app/service-registry/prisma/migrations/20230612175930_remove_url/migration.sql
  app/service-registry/prisma/schema.prisma
  app/service-registry/prisma/seeder.ts
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

Add phone number to User
  app/users-service/prisma/migrations/20230613115639_add_user_phone_number/migration.sql
  app/users-service/prisma/schema.prisma
  app/users-service/src/modules/user/dto/user.dto.ts
  app/users-service/src/modules/user/interfaces/user.interface.ts
  packages/common/src/interfaces/user.ts
Due: yarn lint:prettier, yarn lint:eslint

Add whatsapp notifications
  app/progress-service/package.json
  app/progress-service/src/modules/goals/goal.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Remove unnecessary endpoints
  app/api-gateway/src/modules/user/user.controller.ts
  app/progress-service/yarn.lock
  app/users-service/src/modules/user/user.controller.ts
  app/users-service/src/modules/user/user.service.ts
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

comments
  app/service-registry/package.json
  app/service-registry/utils/api-key-guard.ts
Due: yarn lint:prettier, yarn lint:eslint

comments
  app/progress-service/yarn.lock
  app/workout-service/yarn.lock
Due: none

comments
  app/api-gateway/src/modules/auth/auth.module.ts
  app/api-gateway/src/modules/exercise/exercise.module.ts
  app/api-gateway/src/modules/followers/follower.module.ts
  app/api-gateway/src/modules/goals/goal.module.ts
  app/api-gateway/src/modules/metrics/metrics.module.ts
  app/api-gateway/src/modules/notifications/notification.module.ts
  app/api-gateway/src/modules/progress/progress.module.ts
  app/api-gateway/src/modules/ratings/rating.module.ts
  app/api-gateway/src/modules/user/user.module.ts
  app/api-gateway/src/modules/workout/workout.module.ts
Due: yarn lint:prettier, yarn lint:eslint

add build service registry script
  package.json
Due: yarn lint:prettier

Added endpoint Delete favoriteWorkouts
  app/api-gateway/src/modules/user/user.controller.ts
  app/api-gateway/src/modules/workout/workout.controller.ts
Due: yarn lint:prettier, yarn lint:eslint

Added delete from common
  app/api-gateway/src/modules/user/user.controller.ts
  app/api-gateway/src/shared/service-config.ts
Due: yarn lint:prettier, yarn lint:eslint

Update template
  README.md
  app/progress-service/.env.template
  app/service-registry/.env.template
  app/users-service/.env.template
  app/workout-service/.env.template
Due: none

add service_registry_url to env template
  app/api-gateway/.env.template
  app/progress-service/.env.template
  app/service-registry/.env.template
  app/users-service/.env.template
  app/workout-service/.env.template
Due: none

Update template, api key generation and user interface
  app/api-gateway/.env.template
  app/service-registry/shared/services.ts
  packages/common/src/interfaces/user.ts
Due: yarn lint:prettier, yarn lint:eslint

Create endpoint to track total user progress
  app/api-gateway/src/modules/progress/progress.controller.ts
  app/progress-service/src/modules/progress/dto/user-progress.ts
  app/progress-service/src/modules/progress/progress.controller.ts
  app/progress-service/src/modules/progress/progress.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Add send email on password reset
  app/api-gateway/src/modules/auth/auth.controller.ts
  app/api-gateway/src/modules/auth/interfaces/auth.interface.ts
  app/users-service/src/modules/auth/auth.controller.ts
  app/users-service/src/modules/auth/auth.service.ts
  app/users-service/src/modules/auth/dto/index.ts
  app/users-service/src/modules/auth/dto/reset-password-request.dto.ts
Due: yarn lint:prettier, yarn lint:eslint

Add property to notifications schemas
  app/progress-service/src/modules/goals/goal.service.ts
  app/users-service/prisma/migrations/20230619141421_add_fields_to_notifications/migration.sql
  app/users-service/prisma/schema.prisma
  app/users-service/src/modules/notifications/dto/goal-notification.dto.ts
  app/users-service/src/modules/notifications/dto/message-notification.dto.ts
Due: yarn lint:prettier, yarn lint:eslint

Add error when blocked user tries to login
  app/users-service/src/modules/auth/auth.service.ts
Due: yarn lint:prettier, yarn lint:eslint

fix api keys
  app/progress-service/src/modules/goals/goal.service.ts
  app/progress-service/src/modules/progress/progress.service.ts
  app/service-registry/package.json
  app/service-registry/src/modules/service-registry/service-registry.controller.ts
  app/service-registry/src/modules/service-registry/service-registry.service.ts
  app/users-service/src/modules/user/user.service.ts
  packages/common/src/interfaces/index.ts
Due: yarn lint:prettier, yarn lint:eslint

Add workout metrics
  app/api-gateway/src/modules/workout/workout.controller.ts
  app/workout-service/package.json
  app/workout-service/src/modules/ratings/rating.service.ts
  app/workout-service/src/modules/workout/dto/index.ts
  app/workout-service/src/modules/workout/dto/workout-metric.dto.ts
  app/workout-service/src/modules/workout/workouts.controllers.ts
  app/workout-service/src/modules/workout/workouts.service.ts
  packages/common/src/interfaces/index.ts
  packages/common/src/interfaces/ratingCount.ts
  packages/common/src/interfaces/workoutMetric.ts
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

Fix favoritedCount
  app/api-gateway/src/modules/user/user.controller.ts
  app/users-service/src/modules/user/user.controller.ts
  app/users-service/src/modules/user/user.service.ts
  app/workout-service/.env.template
  app/workout-service/src/modules/workout/workouts.module.ts
  app/workout-service/src/modules/workout/workouts.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Add error when blocked user tries to login (#11)
  app/users-service/src/modules/auth/auth.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Create endpoint to track total user progress (#8)
  app/api-gateway/src/modules/progress/progress.controller.ts
  app/progress-service/src/modules/progress/dto/user-progress.ts
  app/progress-service/src/modules/progress/progress.controller.ts
  app/progress-service/src/modules/progress/progress.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Add send email on password reset (#9)
  app/api-gateway/src/modules/auth/auth.controller.ts
  app/api-gateway/src/modules/auth/interfaces/auth.interface.ts
  app/users-service/src/modules/auth/auth.controller.ts
  app/users-service/src/modules/auth/auth.service.ts
  app/users-service/src/modules/auth/dto/index.ts
  app/users-service/src/modules/auth/dto/reset-password-request.dto.ts
Due: yarn lint:prettier, yarn lint:eslint

Fix user progress service
  app/progress-service/src/modules/progress/progress.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Delete notifications when goal is deleted
  app/progress-service/src/modules/goals/goal.service.ts
  app/users-service/prisma/migrations/20230622210134_add_unique_fields_to_notifications/migration.sql
  app/users-service/prisma/schema.prisma
  app/users-service/src/modules/notifications/notification.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Progress service fixes (#14)
  app/progress-service/src/modules/goals/goal.service.ts
  app/progress-service/src/modules/progress/progress.service.ts
  app/users-service/prisma/migrations/20230622210134_add_unique_fields_to_notifications/migration.sql
  app/users-service/prisma/schema.prisma
  app/users-service/src/modules/notifications/notification.service.ts
Due: yarn lint:prettier, yarn lint:eslint
