Repository Fiu-Fit/Back: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:prettier, yarn lint:eslint

Second commit
  README.md
Due: none

test
  .eslintrc.json
  package.json
  yarn.lock
Due: yarn lint:prettier

Actualizar README
  README.md
Due: none

Metrics
  app/users-service/prisma/schema.prisma
  app/users-service/src/modules/auth/auth.service.ts
  app/users-service/src/modules/metrics/dto/get-auth-metrics-query.dto.ts
  app/users-service/src/modules/metrics/metrics.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Add turbo repo, fix prisma client
  .eslintrc.json
  .gitignore
  .yarnrc.yml
  README.md
  app/api-gateway/package.json
  app/api-gateway/yarn.lock
  app/progress-service/package.json
  app/progress-service/yarn.lock
  app/users-service/package.json
  app/users-service/prisma/migrations/20230524175858_change_user_activity_timestamp_to_created_at/migration.sql
  app/users-service/yarn.lock
  app/workout-service/package.json
  app/workout-service/src/modules/exercise/exercise.controller.spec.ts
  app/workout-service/src/modules/exercise/exercise.service.spec.ts
  app/workout-service/yarn.lock
  lerna.json
  package.json
  turbo.json
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

Update README
  README.md
Due: none

Add .yarn
  .gitignore
  package.json
  turbo.json
  yarn.lock
Due: yarn lint:prettier

Add .yarn
  .gitignore
  .yarn/releases/yarn-3.5.1.cjs
  app/api-gateway/.gitignore
  app/progress-service/.gitignore
  app/users-service/.gitignore
  app/workout-service/.gitignore
Due: none

Update dependencies
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  app/progress-service/package.json
  app/users-service/package.json
  app/users-service/yarn.lock
  app/workout-service/package.json
  package.json
  yarn.lock
Due: yarn lint:prettier

Add start script
  package.json
  tsconfig.json
  turbo.json
Due: yarn lint:prettier

User Interests
  app/users-service/prisma/migrations/20230525201258_add_user_interests/migration.sql
  app/users-service/prisma/schema.prisma
  app/users-service/src/modules/user/dto/user.dto.ts
  app/users-service/src/modules/user/interfaces/user.interface.ts
  app/users-service/src/modules/user/interfaces/user.pb.ts
Due: yarn lint:prettier, yarn lint:eslint

Nearest trainers
  .yarn/releases/yarn-3.5.1.cjs
  app/api-gateway/src/modules/user/user.controller.ts
  app/users-service/package.json
  app/users-service/src/app.module.ts
  app/users-service/src/modules/auth/auth.module.ts
  app/users-service/src/modules/followers/follower.module.ts
  app/users-service/src/modules/user-location/schema/user-location.schema.ts
  app/users-service/src/modules/user-location/user-location.module.ts
  app/users-service/src/modules/user-location/user-location.service.ts
  app/users-service/src/modules/user/dto/user.dto.ts
  app/users-service/src/modules/user/user.controller.ts
  app/users-service/src/modules/user/user.module.ts
  app/users-service/src/modules/user/user.service.ts
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

fix comments
  app/api-gateway/src/modules/user/user.controller.ts
  app/users-service/src/modules/user-location/user-location.service.ts
  app/users-service/src/modules/user/user.controller.ts
  app/users-service/src/modules/user/user.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Service registry setup
  .yarn/releases/yarn-3.5.1.cjs
  app/service-registry/.env.template
  app/service-registry/.gitignore
  app/service-registry/README.md
  app/service-registry/docker-compose.yml
  app/service-registry/nest-cli.json
  app/service-registry/package.json
  app/service-registry/prisma/migrations/20230528043224_add_service_schema/migration.sql
  app/service-registry/prisma/migrations/migration_lock.toml
  app/service-registry/prisma/schema.prisma
  app/service-registry/prisma/seeder.ts
  app/service-registry/shared/services.ts
  app/service-registry/src/app.controller.spec.ts
  app/service-registry/src/app.controller.ts
  app/service-registry/src/app.module.ts
  app/service-registry/src/app.service.ts
  app/service-registry/src/main.ts
  app/service-registry/src/modules/service-registry/service-registry.controller.ts
  app/service-registry/src/modules/service-registry/service-registry.module.ts
  app/service-registry/src/modules/service-registry/service-registry.service.ts
  app/service-registry/src/prisma.service.ts
  app/service-registry/test/app.e2e-spec.ts
  app/service-registry/test/jest-e2e.json
  app/service-registry/tsconfig.build.json
  app/service-registry/tsconfig.json
  app/service-registry/utils/api-key-guard.ts
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

CRUD
  app/api-gateway/src/app.module.ts
  app/api-gateway/src/modules/goals/goal.module.ts
  app/api-gateway/src/modules/ratings/rating.module.ts
  app/api-gateway/src/modules/service-registry/service-registry.controller.ts
  app/api-gateway/src/modules/service-registry/service-registry.module.ts
  app/api-gateway/src/modules/service-registry/service-registry.service.ts
  app/api-gateway/src/shared/service-config.ts
  app/service-registry/prisma/migrations/20230528043224_add_service_schema/migration.sql
  app/service-registry/prisma/migrations/migration_lock.toml
  app/service-registry/prisma/schema.prisma
  app/service-registry/prisma/seeder.ts
  app/service-registry/shared/services.ts
  app/service-registry/src/modules/service-registry/dto/service-registry.dto.ts
  app/service-registry/src/modules/service-registry/service-registry.controller.ts
  app/service-registry/src/modules/service-registry/service-registry.module.ts
  app/service-registry/src/modules/service-registry/service-registry.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Initial service registry redirect (does not work dynamically since its run only once)
  app/api-gateway/src/modules/service-registry/service-registry.module.ts
  app/api-gateway/src/modules/user/user.module.ts
  app/api-gateway/src/shared/service-config.ts
  app/service-registry/prisma/migrations/20230528162920_add_service/migration.sql
  app/service-registry/prisma/migrations/migration_lock.toml
  app/service-registry/src/modules/service-registry/service-registry.controller.ts
Due: yarn lint:prettier, yarn lint:eslint

API Key Guard uses service registry
  app/api-gateway/src/modules/service-registry/service-registry.controller.ts
  app/api-gateway/src/modules/service-registry/service-registry.service.ts
  app/progress-service/src/app.module.ts
  app/progress-service/src/main.ts
  app/progress-service/utils/api-key-guard.ts
  app/service-registry/src/modules/service-registry/service-registry.controller.ts
  app/service-registry/src/modules/service-registry/service-registry.service.ts
  app/users-service/package.json
  app/users-service/src/app.module.ts
  app/users-service/src/main.ts
  app/users-service/src/utils/api-key-guard.ts
  app/workout-service/src/app.module.ts
  app/workout-service/src/main.ts
  app/workout-service/src/utils/api-key-guard.ts
  tsconfig.json
Due: yarn lint:prettier, yarn lint:eslint

Add new service registry module
  app/api-gateway/src/modules/auth/auth.module.ts
  app/api-gateway/src/modules/exercise/exercise.module.ts
  app/api-gateway/src/modules/followers/follower.module.ts
  app/api-gateway/src/modules/goals/goal.module.ts
  app/api-gateway/src/modules/metrics/metrics.module.ts
  app/api-gateway/src/modules/progress/progress.module.ts
  app/api-gateway/src/modules/ratings/rating.module.ts
  app/api-gateway/src/modules/service-registry/service-registry.module.ts
  app/api-gateway/src/modules/workout/workout.module.ts
  app/api-gateway/src/shared/service-config.ts
  app/service-registry/src/modules/service-registry/service-registry.service.ts
  app/users-service/package.json
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

Nearest trainers (#1)
  .yarn/releases/yarn-3.5.1.cjs
  app/api-gateway/src/modules/user/user.controller.ts
  app/users-service/package.json
  app/users-service/src/app.module.ts
  app/users-service/src/modules/auth/auth.module.ts
  app/users-service/src/modules/followers/follower.module.ts
  app/users-service/src/modules/user-location/schema/user-location.schema.ts
  app/users-service/src/modules/user-location/user-location.module.ts
  app/users-service/src/modules/user-location/user-location.service.ts
  app/users-service/src/modules/user/dto/user.dto.ts
  app/users-service/src/modules/user/user.controller.ts
  app/users-service/src/modules/user/user.module.ts
  app/users-service/src/modules/user/user.service.ts
  yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

Add user role metrics GET endpoint
  app/api-gateway/src/modules/metrics/metrics.controller.ts
  app/users-service/src/modules/metrics/dto/get-user-metrics-query.dto.ts
  app/users-service/src/modules/metrics/dto/index.ts
  app/users-service/src/modules/metrics/metrics.controller.ts
  app/users-service/src/modules/metrics/metrics.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Update ProgressMetric schema
  app/progress-service/prisma/migrations/20230531205939_update_progress_metric/migration.sql
  app/progress-service/prisma/schema.prisma
  app/progress-service/prisma/seeder.ts
Due: yarn lint:prettier, yarn lint:eslint

Add repDuration property to WorkoutExercise
  app/workout-service/package.json
  app/workout-service/src/modules/workout/interfaces/workout.interface.ts
  app/workout-service/src/modules/workout/schemas/workout.schema.ts
Due: yarn lint:prettier, yarn lint:eslint

Create complete-workout endpoint
  app/api-gateway/src/modules/progress/progress.controller.ts
  app/progress-service/package.json
  app/progress-service/src/modules/progress/dto/complete-workout.dto.ts
  app/progress-service/src/modules/progress/progress.controller.ts
Due: yarn lint:prettier, yarn lint:eslint

Update service
  app/progress-service/src/modules/progress/dto/edit-progress-metric.dto.ts
  app/progress-service/src/modules/progress/progress.service.ts
  app/progress-service/yarn.lock
  app/users-service/package.json
  app/workout-service/yarn.lock
Due: yarn lint:prettier, yarn lint:eslint

Add user role metrics GET endpoint (#2)
  app/api-gateway/src/modules/metrics/metrics.controller.ts
  app/users-service/src/modules/metrics/dto/get-user-metrics-query.dto.ts
  app/users-service/src/modules/metrics/dto/index.ts
  app/users-service/src/modules/metrics/metrics.controller.ts
  app/users-service/src/modules/metrics/metrics.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Create notifications schemas
  app/users-service/prisma/migrations/20230602123150_user_notifications/migration.sql
  app/users-service/prisma/schema.prisma
Due: none

Create notifications crud
  app/users-service/src/app.module.ts
  app/users-service/src/modules/notifications/dto/goal-notification.dto.ts
  app/users-service/src/modules/notifications/dto/message-notification.dto.ts
  app/users-service/src/modules/notifications/notification.controller.ts
  app/users-service/src/modules/notifications/notification.module.ts
  app/users-service/src/modules/notifications/notification.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Update gateway
  app/api-gateway/src/app.module.ts
  app/api-gateway/src/modules/notifications/notification.controller.ts
  app/api-gateway/src/modules/notifications/notification.module.ts
  app/api-gateway/src/shared/service-config.ts
Due: yarn lint:prettier, yarn lint:eslint

Fix
  app/api-gateway/src/modules/service-registry/service-registry.module.ts
Due: yarn lint:prettier, yarn lint:eslint

Fix
  app/api-gateway/src/modules/user/user.controller.ts
  app/users-service/src/modules/user-location/user-location.service.ts
  app/users-service/src/modules/user/user.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Fix
  app/users-service/src/modules/user/user.controller.ts
Due: yarn lint:prettier, yarn lint:eslint

Modify migrations
  app/users-service/prisma/migrations/20230604140811_user_notifications/migration.sql
Due: none

Create notification when goal is completed
  app/progress-service/src/modules/goals/goal.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Fixes
  app/users-service/src/modules/notifications/notification.controller.ts
  app/users-service/src/modules/notifications/notification.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Modify endpoints
  app/api-gateway/src/modules/notifications/notification.controller.ts
  app/api-gateway/src/modules/user/user.controller.ts
  app/users-service/src/modules/notifications/notification.controller.ts
  app/users-service/src/modules/notifications/notification.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Change endpoints
  app/api-gateway/src/modules/notifications/notification.controller.ts
  app/users-service/src/modules/notifications/notification.controller.ts
  app/users-service/src/modules/notifications/notification.service.ts
Due: yarn lint:prettier, yarn lint:eslint

Rename endpoint
  app/api-gateway/src/modules/progress/progress.controller.ts
  app/progress-service/src/modules/progress/progress.controller.ts
Due: yarn lint:prettier, yarn lint:eslint

Fix common install
  app/api-gateway/package.json
Due: yarn lint:prettier

Fix again
  app/api-gateway/package.json
Due: yarn lint:prettier

Path conditions:
  yarn lint:prettier: (any of: *.{ts,tsx}) or (any of: *.{js,json,html})
  yarn lint:eslint: any of: *.{ts,tsx}
